body {
background-color: #2e294e;
font-family: Arial, sans-serif;
color: #040203;
}

.form-container {
background-color: #be97c6;
padding: 20px;
margin: 20px;
border-radius: 10px;
}

label {
display: block;
margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
border: none;
border-radius: 3px;
padding: 8px;
margin-bottom: 10px;
width: 100%;
}

button[type="submit"] {
background-color: #8661c1;
border: none;
border-radius: 3px;
color: white;
padding: 10px 20px;
margin-top: 10px;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #4b5267;
}
